/*Custom Styles for Nikita Dubnov personal website */

/*Jura Font import from Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Jura);

body {
  /*background-image: url("../img/background.png");*/
  background-color: #F1FDF7;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jura', sans-serif;
}

hr {
  color: lightblue;
}

.content {
  text-align: center;
}

.content a {
  text-decoration: none;
  color: black;
}

.info-header {
  background-image: url("../img/top2.jpg");
  background-size: cover;
  margin-top: -20px;
  padding: 20px;
  margin-bottom: 20px;
}

.info-header h1, h4 {
  color: white;
}

#header-img {
  height: 200px;
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 10px;
}

.header-links a {
  color: white;
  margin: 10px;
}

.header-links a:hover {
  color: lightblue;
}

.project-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-content a:hover {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px lightblue;
  -webkit-box-shadow: 1px 1px 5px lightblue;
  box-shadow: 1px 1px 5px lightblue;
}

.info-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 30px;
  transition: height 1s;
  background-color: #F1FDF7;
  border: 1px solid #E1D3C1;
}

.project {
  margin: 15px 5px;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  position: relative;
  background-size: contain;
  display: block;
  border: 1px solid #EFEFEF;
  overflow: hidden;
}

.project h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 6px;
  font-size: medium;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.project h4 {
  position: absolute;
  font-size: medium;
  text-align: center;
  bottom: -50px;
  transition: bottom 1s;
  color: black;
}

.project:hover .info-content{
  height: 100px;
}

.project:hover .info-content h4 {
  bottom: 10px;
}

.col-md-6 {
  margin-bottom: 20px;
}
